#page-home {
  text-align: center;
  height: 100%;
  color: #e9ece5;
  background-color: #000000;
  .brand-logo {
    #brand-logo {
      width: 210px;
      border: solid #E3B673 5px;
     /* border-radius: 25px;*/
      * {
        position: relative;
        fill: #E3B673;
        -webkit-transform-origin: center top;
        -moz-transform-origin: center top;
        -ms-transform-origin: center top;
        -o-transform-origin: center top;
        transform-origin: center top;
        -webkit-transition: all 0.4s ease;
        -moz-transition: all 0.4s ease;
        transition: all 0.4s ease;
      }
    }
    padding: 65px 0 80px 0;
    #circle {
      height: 240px;
    }
  }
  .h-01 {
    color: #E3B673;
    margin-bottom: 50px;
  }
  .copy-02 {
    color: #E3B673;
    margin-bottom: 180px;
    padding-top: 90px;
    text-shadow: -1px 0 rgba(0, 0, 0, 0.31), 0 1px rgba(0, 0, 0, 0.31), 1px 0 rgba(0, 0, 0, 0.31), 0 -1px rgba(0, 0, 0, 0.31);
  }
}