/* Overlay style */

.overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(227, 182, 115, 0.9);
    z-index: 99;
}

.overlay-container {
    margin-top: 150px;
    background-color: #ffffff;
    padding-left: 30px;
    padding-right: 30px;
    min-height: 550px;
}

.overlay-title {
    font-size: 23px;
    display: inline-block;
    padding: 15px 20px;
    margin-bottom: 50px;
    position: relative;
}

.overlay-title-effect:after {
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    display: block;
    height: 2px;
    left: 50%;
    position: absolute;
    background: #fff;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
    width: 100%;
    left: 0;
}

.overlay-description {
    max-width: 60%;
    float: left;
}

.overlay-imagecontainer {
    max-width: 40%;
    float: right;
}

/* Overlay closing cross */

.overlay-close {
    position: absolute;
    display: inline-block;
    width: 50px;
    height: 50px;
    overflow: hidden;
    right: 10px;
    top: 10px;
    cursor: pointer;
}

.overlay-close:hover::before, .overlay-close:hover::after {
    background: #919193;
}

.overlay-close::before, .overlay-close::after {
    content: '';
    position: absolute;
    height: 2px;
    width: 100%;
    top: 50%;
    left: 0;
    margin-top: -1px;
    background: #000;
}

.overlay-close::before {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}

.overlay-close::after {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

/* Effects */

.overlay-door {
    visibility: hidden;
    width: 0;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    -webkit-transition: width 0.5s 0.3s, visibility 0s 0.8s;
    transition: width 0.5s 0.3s, visibility 0s 0.8s;
}

.overlay-door.open {
    visibility: visible;
    width: 100%;
    -webkit-transition: width 0.5s;
    transition: width 0.5s;
}

.overlay-door nav {
    position: absolute;
    left: 50%;
    -webkit-transform: translateY(-50%) translateX(-50%);
    transform: translateY(-50%) translateX(-50%);
}

.overlay-door nav, .overlay-door .overlay-close {
    opacity: 0;
    -webkit-transition: opacity 0.3s 0.5s;
    transition: opacity 0.3s 0.5s;
}

.overlay-door.open nav, .overlay-door.open .overlay-close {
    opacity: 1;
    -webkit-transition-delay: 0.5s;
    transition-delay: 0.5s;
}

.overlay-door.close nav, .overlay-door.close .overlay-close {
    -webkit-transition-delay: 0s;
    transition-delay: 0s;
}

@media screen and (max-height: 30.5em) {
    .overlay nav {
        height: 70%;
        font-size: 34px;
    }
}

/* CSS SOCIAL ICONS FONT  */

@font-face {
    font-family: 'pe-icon-social';
    src: url('../fonts/pe-icon-social.eot?-96eskg');
    src: url('../fonts/pe-icon-social.eot?#iefix-96eskg') format('embedded-opentype'), url('../fonts/pe-icon-social.woff?-96eskg') format('woff'), url('../fonts/pe-icon-social.ttf?-96eskg') format('truetype'), url('../fonts/pe-icon-social.svg?-96eskg#pe-icon-social') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="pe-so-"], [class*=" pe-so-"] {
    left: 1px;
    display: inline-block;
    font-family: 'pe-icon-social';
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.pe-so-facebook:before {
    content: "\e617";
}

.pe-so-github:before {
    content: "\e61e";
}

.pe-so-google-plus:before {
    content: "\e620";
}

.pe-so-instagram:before {
    content: "\e626";
}

.pe-so-linkedin:before {
    content: "\e62c";
}

.pe-so-stack-overflow:before {
    content: "\e649";
}

.pe-so-twitter:before {
    content: "\e651";
}

.pe-so-wikipedia:before {
    content: "\e659";
}