/*!**********************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[4].use[1]!./node_modules/typeface-roboto/index.css ***!
  \**********************************************************************************************************************/
/* roboto-100normal - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-display: swap;
  font-weight: 100;
  src:
    local('Roboto Thin '),
    local('Roboto-Thin'),
    url(/Users/aguv/Desktop/Backup/agustin/distassets/fonts/c2aa4ab115bf9c6057cb.woff2) format('woff2'), /* Super Modern Browsers */
    url(/Users/aguv/Desktop/Backup/agustin/distassets/fonts/a45108d3b34af91f9113.woff) format('woff'); /* Modern Browsers */
}

/* roboto-100italic - latin */
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-display: swap;
  font-weight: 100;
  src:
    local('Roboto Thin italic'),
    local('Roboto-Thinitalic'),
    url(/Users/aguv/Desktop/Backup/agustin/distassets/fonts/7f839a8652da29745ce4.woff2) format('woff2'), /* Super Modern Browsers */
    url(/Users/aguv/Desktop/Backup/agustin/distassets/fonts/451d4e559d6f57cdf6a1.woff) format('woff'); /* Modern Browsers */
}

/* roboto-300normal - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-display: swap;
  font-weight: 300;
  src:
    local('Roboto Light '),
    local('Roboto-Light'),
    url(/Users/aguv/Desktop/Backup/agustin/distassets/fonts/37a7069dc30fc663c878.woff2) format('woff2'), /* Super Modern Browsers */
    url(/Users/aguv/Desktop/Backup/agustin/distassets/fonts/865f928cbabcc9f8f2b5.woff) format('woff'); /* Modern Browsers */
}

/* roboto-300italic - latin */
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-display: swap;
  font-weight: 300;
  src:
    local('Roboto Light italic'),
    local('Roboto-Lightitalic'),
    url(/Users/aguv/Desktop/Backup/agustin/distassets/fonts/c64e7e354c88e613c77c.woff2) format('woff2'), /* Super Modern Browsers */
    url(/Users/aguv/Desktop/Backup/agustin/distassets/fonts/bd5b7a13f2c52b531a2a.woff) format('woff'); /* Modern Browsers */
}

/* roboto-400normal - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src:
    local('Roboto Regular '),
    local('Roboto-Regular'),
    url(/Users/aguv/Desktop/Backup/agustin/distassets/fonts/176f8f5bd5f02b3abfcf.woff2) format('woff2'), /* Super Modern Browsers */
    url(/Users/aguv/Desktop/Backup/agustin/distassets/fonts/49ae34d4cc6b98c00c69.woff) format('woff'); /* Modern Browsers */
}

/* roboto-400italic - latin */
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-display: swap;
  font-weight: 400;
  src:
    local('Roboto Regular italic'),
    local('Roboto-Regularitalic'),
    url(/Users/aguv/Desktop/Backup/agustin/distassets/fonts/d022bc70dc1bf7b3425d.woff2) format('woff2'), /* Super Modern Browsers */
    url(/Users/aguv/Desktop/Backup/agustin/distassets/fonts/b1d9d9904bfca8802a63.woff) format('woff'); /* Modern Browsers */
}

/* roboto-500normal - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-display: swap;
  font-weight: 500;
  src:
    local('Roboto Medium '),
    local('Roboto-Medium'),
    url(/Users/aguv/Desktop/Backup/agustin/distassets/fonts/f5b74d7ffcdf85b9dd60.woff2) format('woff2'), /* Super Modern Browsers */
    url(/Users/aguv/Desktop/Backup/agustin/distassets/fonts/cea99d3e3e13a3a599a0.woff) format('woff'); /* Modern Browsers */
}

/* roboto-500italic - latin */
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-display: swap;
  font-weight: 500;
  src:
    local('Roboto Medium italic'),
    local('Roboto-Mediumitalic'),
    url(/Users/aguv/Desktop/Backup/agustin/distassets/fonts/0d8bb5b3ee5f5dac9e44.woff2) format('woff2'), /* Super Modern Browsers */
    url(/Users/aguv/Desktop/Backup/agustin/distassets/fonts/18d00f739ff1e1c52db1.woff) format('woff'); /* Modern Browsers */
}

/* roboto-700normal - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  src:
    local('Roboto Bold '),
    local('Roboto-Bold'),
    url(/Users/aguv/Desktop/Backup/agustin/distassets/fonts/c18ee39fb002ad58b6dc.woff2) format('woff2'), /* Super Modern Browsers */
    url(/Users/aguv/Desktop/Backup/agustin/distassets/fonts/2267169ee7270a22a963.woff) format('woff'); /* Modern Browsers */
}

/* roboto-700italic - latin */
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-display: swap;
  font-weight: 700;
  src:
    local('Roboto Bold italic'),
    local('Roboto-Bolditalic'),
    url(/Users/aguv/Desktop/Backup/agustin/distassets/fonts/7d8125ff7f707231fd89.woff2) format('woff2'), /* Super Modern Browsers */
    url(/Users/aguv/Desktop/Backup/agustin/distassets/fonts/9360531f9bb817f917f0.woff) format('woff'); /* Modern Browsers */
}

/* roboto-900normal - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-display: swap;
  font-weight: 900;
  src:
    local('Roboto Black '),
    local('Roboto-Black'),
    url(/Users/aguv/Desktop/Backup/agustin/distassets/fonts/870c8c1486f76054301a.woff2) format('woff2'), /* Super Modern Browsers */
    url(/Users/aguv/Desktop/Backup/agustin/distassets/fonts/bac8362e7a6ea60b6983.woff) format('woff'); /* Modern Browsers */
}

/* roboto-900italic - latin */
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-display: swap;
  font-weight: 900;
  src:
    local('Roboto Black italic'),
    local('Roboto-Blackitalic'),
    url(/Users/aguv/Desktop/Backup/agustin/distassets/fonts/cb5ad999740e9d8a8bd1.woff2) format('woff2'), /* Super Modern Browsers */
    url(/Users/aguv/Desktop/Backup/agustin/distassets/fonts/c20d916c1a1b094c1cec.woff) format('woff'); /* Modern Browsers */
}


