#page-about {
  .copy-01 {
    text-align: center;
    margin-bottom: 25px;
    padding: 0 20px;
  }
  .h-01 {
    @include respondTo(smartphone) {
      margin: 40px 0 40px 0;
    }
    @include respondTo(tablet) {
      margin: 15px 0 90px 0;
    }
    padding-top: 35px;
    text-align: center;
  }
  .h-03 {
    @include respondTo(mobile) {
      margin-bottom: 10px;
    }
    @include respondTo(screen) {
      margin-bottom: 18px;
    }
    text-align: center;
  }
  .columns {
    @include respondTo(mobile) {
      display: block;
      margin-left: 10px;
      margin-right: 10px;
    }
    @include respondTo(screen) {
      display: flex;
    }
    align-items: stretch;
    flex-direction: row;
    justify-content: flex-start;
    margin-left: 50px;
    margin-right: 50px;
  }

.columns-item {
    float: none;
    width: 100%;
    padding: 0 20px;
    margin: 0 0 30px 0;
    text-align: center;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

    @include respondTo(screen) {
      flex: 1;
      width: 285px;
      float: left;
      margin-right: 20px;
    }
    &:last-child {
      margin: 0;
    }
  }
}

.me-img {
  max-width: 100px;
  height: 128px;
  padding-bottom: 30px;
  margin: auto;
}
