.site-inner {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  height: 100%;
}

.site-inner-abs {
  position: absolute;
  top: 0;
  left: 50%;
  width: 58.75em;
  margin-left: -29.375em;
}

.heading {
  color: $colorGrey;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
  min-height: 50px;
  &.h-01 {
    font-size: 60px;
    font-weight: 800;
    line-height: 1;
    text-transform: uppercase;
    min-height: 90px;
  }
  &.h-02 {
    font-family: $fontMain;
    font-size: 19px;
    font-weight: normal;
    line-height: 1;
  }
  &.h-03 {
    font-size: 18px;
    font-weight: 700;
    line-height: 1;
  }
}

.copy-01 {
  text-rendering: optimizeLegibility;
  font-family: $fontMain;
  font-size: 27px;
  color: $colorBlackBay;
  line-height: 42px;
}

.copy-02 {
  text-rendering: optimizeLegibility;
  font-family: $fontMain;
  font-size: 18px;
  color: $colorMetal;
  line-height: 30px;
  text-align: center;
}

.copy-03,
#page-work .filter-link {
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
  font-family: $fontMain;
  font-size: 14px;
  line-height: 1;
}

.button {
  display: inline-block;
  padding: 23px 63px;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  &.main {
    background: $colorPurple;
    color: $colorOrange;
    font-family: $fontMain;
    font-size: 14px;
  }
  &.white {
    background: $colorOrange;
    color: $colorMetal;
    font-family: $fontMain;
    font-size: 14px;
  }
  &.rounded {
    border-radius: 3px;
  }
  &:hover {
    opacity: 0.7;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=” $value * 100 “)";
    filter: alpha(opacity=70);
    zoom: 1;
  }
}

.section {
  padding: 65px 0;
  .h-01 {
    text-align: center;
  }
}
