@use "utils";

#page-home {
  text-align: center;
  height: 100%;
  color: utils.$colorSoftWhite;
  background-color: utils.$colorBlack;

  .container {
    padding-bottom: 1px;
    margin: 0 0 180px;
  }

  .brand-logo {
    width: 210px;
    height: 210px;
    border: solid utils.$colorOrange 7px;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    transform-origin: center top;
    transition: all 0.4s ease;

    img {
      filter: drop-shadow(3px 5px 2px rgba(240, 240, 240, 0.5));
      box-shadow: 0 0 25px rgba(240, 240, 240, 0.5);
    }
  }

  .h-01 {
    color: utils.$colorOrange;
    padding: 60px 0 0 0;
  }

  .copy-02 {
    color: utils.$colorOrange;
    margin-bottom: 90px;
    padding-top: 30px;
    text-shadow: -1px 0 rgba(0, 0, 0, 0.31);
    font-weight: 200;
  }

  .ocean {
    height: 5%;
    width: 100%;
    position: relative;
    top: -180px;
    left: 0;
    background-color: utils.$colorBlack;
    transform: rotate(180deg);
  }

  .wave {
    background: url(../assets/images/wave.svg) repeat-x;
    position: absolute;
    top: -158px;
    width: 6400px;
    height: 158px;
    animation: wave 7s cubic-bezier(0.36, 0.45, 0.63, 0.53) infinite;
    transform: translate3d(0, 0, 0);
  }

  .wave:nth-of-type(2) {
    top: -128px;
    animation: wave 7s cubic-bezier(0.36, 0.45, 0.63, 0.53) -0.125s infinite, swell 7s ease -1.25s infinite;
    opacity: 1;
  }

  @keyframes wave {
    0% {
      margin-left: 0;
    }
    100% {
      margin-left: -1600px;
    }
  }

  @keyframes swell {
    0%,
    100% {
      transform: translate3d(0, -25px, 0);
    }
    50% {
      transform: translate3d(0, 5px, 0);
    }
  }
}
