@use "devicon";
@use "utils";
@use "home";
@use "uses";
@use "impressum";
@use "privacy";
@use "about";
@use "work";
@use "contact";
@use "footer";
@use "work-hover";
@use "overlay";
@use "pen-effect";
@use "arrow-down";
@use "placeholder-effect";
@use "contact-form";
@use "hexagon";
@use "ripple-effect";
@use "btn-send";
@use "social-icons";
@use "application";
