/* Overlay style */

.overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: $colorWhite;
  z-index: 99;
  overflow: scroll;
}

.overlay-container {
  margin-top: 30px;
  padding-left: 10%;
  padding-right: 10%;
  min-height: 550px;

  @include respondTo(mobile) {
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 40px;
  }

  .overlay__subtitle {
    padding-top: 75px;
    padding-bottom: 10px;
  }
}

.project-link {
  display: block;
  width: auto;
  color: $colorPurple;
  text-decoration: underline;
  margin: 45px auto;
}

.overlay-title {
  width: 100%;
  max-width: 35%;
  font-size: 30px;
  padding-bottom: 50px;
  opacity: 0;
  margin: auto;

  @include respondTo(mobile) {
    max-width: 90%;
  }
}

.overlay-title-text {
  font-size: 23px;
  display: block;
  padding: 15px 20px;
  margin: auto auto 25px auto;
  position: relative;

  &::after {
    content: "";
    display: block;
    vertical-align: baseline;
    opacity: 0.8;
    width: 0;
    height: 2px;
    background: $colorOrange;
    transition: 0.7s ease;
    margin-top: 15px;
  }
}

.overlay-description {
  max-width: 55%;
  width: 100%;
  float: left;
  opacity: 0;
  height: auto;
  text-align: left;

  @include respondTo(mobile) {
    max-width: 100%;
    width: 100%;
  }

  .list {
    text-align: left;
    white-space: pre-line;
    display: block;
    margin-top: 45px;
  }

  .list-div {
    display: block;
    text-align: left;
    margin-bottom: 8px;
    font-weight: 200;
    font-size: 14px;
  }
}

.overlay-imagecontainer {
  max-width: 40%;
  width: 100%;
  float: right;
  opacity: 0;
  overflow: auto;

  @include respondTo(mobile) {
    max-width: 100%;
    width: 100%;
    display: block;
    float: left;
  }
}

.overlay-icons {
  margin-top: 20px;
  width: 100%;
  min-height: 60px;
  height: auto;
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding-bottom: 50px;
}

.icon-skill {
  font-size: 45px;
}

.overlay-topbar {
  background: rgba(227, 182, 115, 0.95);
  height: 70px;
  position: sticky;
  top: 0;
}

/* Overlay closing cross */

.overlay-close {
  position: absolute;
  display: inline-block;
  width: 50px;
  height: 50px;
  overflow: hidden;
  right: 10px;
  top: 10px;
  cursor: pointer;
  &:hover {
    &::before,
    &::after {
      background: $colorGrey;
    }
  }
  &::before,
  &::after {
    content: "";
    position: absolute;
    height: 2px;
    width: 100%;
    top: 50%;
    left: 0;
    margin-top: -1px;
    background: $colorBlack;
  }
  &::before {
    transform: rotate(45deg);
  }
  &::after {
    transform: rotate(-45deg);
  }
}

/* Effects */

.overlay-door {
  visibility: hidden;
  width: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  -webkit-transition: width 0.5s 0.3s, visibility 0s 0.8s;
  transition: width 0.5s 0.3s, visibility 0s 0.8s;
  &.open {
    visibility: visible;
    width: 100%;
    -webkit-transition: width 0.5s;
    transition: width 0.5s;
  }
  &.open .overlay-description,
  &.open .overlay-title,
  &.open .overlay-imagecontainer {
    opacity: 1;
    transition: opacity 1s ease-in-out;
    -moz-transition: opacity 1s ease-in-out;
    -webkit-transition: opacity 1s ease-in-out;
  }
  &.open .overlay-title-effect {
    color: $colorBlack;
    font-weight: 800;
    animation: 1.5s 0.7s float infinite ease;
    height: auto;
    min-height: 40px;
    display: block;
    &::after {
      width: 100%;
      opacity: 1;
      transition-delay: 1s;
    }
  }
  nav {
    position: absolute;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    opacity: 0;
    transition: opacity 0.3s 0.5s;
  }
  .overlay-close {
    opacity: 0;
    transition: opacity 0.3s 0.5s;
  }
  &.open {
    nav,
    .overlay-close {
      opacity: 1;
      transition-delay: 0.5s;
    }
  }
  &.close {
    nav,
    .overlay-close {
      transition-delay: 0s;
    }
  }
}

@media screen and (max-height: 30.5em) {
  .overlay nav {
    height: 70%;
    font-size: 34px;
  }
}
