@font-face {
  font-family: "pe-icon-social";
  src: url("fonts/pe-icon-social.eot");
  src: url("fonts/pe-icon-social.eot") format("embedded-opentype"), url("fonts/pe-icon-social.woff") format("woff"),
    url("fonts/pe-icon-social.ttf") format("truetype"), url("fonts/pe-icon-social.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

[class^="pe-so-"],
[class*=" pe-so-"] {
  left: 1px;
  display: inline-block;
  font-family: "pe-icon-social", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.pe-so-facebook:before {
  content: "\e617";
}

.pe-so-github:before {
  content: "\e61e";
}

.pe-so-google-plus:before {
  content: "\e620";
}

.pe-so-instagram:before {
  content: "\e626";
}

.pe-so-linkedin:before {
  content: "\e62c";
}

.pe-so-stack-overflow:before {
  content: "\e649";
}

.pe-so-twitter:before {
  content: "\e651";
}

.pe-so-codepen:before {
  content: "\e60b";
}
