/* COLORS */

$colorGrey: #919193;
$colorWhite: #fffeff;
$colorOrange: #e3b673;
$colorDarkGrey: #454648;
$colorBlack: #070606;
$colorPurple: #7b77c9;
$colorSoftWhite: #e9ece5;
$colorMetal: #888a8b;
$colorBlackBay: #464b4f;
$colorHighBlue: #89bdd3;
$colorCerebralGrey: #cccccc;

$fontMain: "Roboto", Helvetica, sans-serif;

body {
  font-family: $fontMain;
  -webkit-tap-highlight-color: transparent;
  letter-spacing: 3px;
  margin: 0;
}

#page-container {
  position: relative;
  overflow: hidden;
}

.no-scroll {
  position: fixed;
  overflow: hidden;
}

img.inject-me {
  display: none;
}

a {
  text-decoration: none;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.img-responsive {
  width: 100%;
  height: 100%;
}

.handy {
  right: 45px;
  position: relative;
  font-size: 28px;
  color: $colorGrey;
  top: 40px;
  display: none;
}

/* RESPONSIVE MIXINS */

$screen: 760px;
@mixin respondTo($media) {
  @if $media == mobile {
    @media (max-width: $screen) {
      @content;
    }
  } @else if $media == screen {
    @media (min-width: $screen) {
      @content;
    }
  }
}
