@use "utils";

#page-work {
  position: relative;
  text-align: center;
  background-color: utils.$colorBlack;
  min-height: 1210px;
  height: auto;

  .grid-box {
    margin: auto;
    max-width: 1125px;
    position: relative;
    @media screen and (max-width: 1124px) {
      max-width: 838px;
    }
    @media screen and (max-width: 838px) {
      max-width: 553px;
    }
    @media screen and (max-width: 553px) {
      max-width: 270px;
    }
  }

  .h-01 {
    color: utils.$colorOrange;
    margin-bottom: 50px;
  }

  .h-02 {
    visibility: hidden;
    color: utils.$colorSoftWhite;
    margin: 15px 0 -25px 0;
    font-weight: 800;
  }

  .copy-03,
  .filter-link {
    color: utils.$colorOrange;
  }

  .shuffle__sizer {
    display: none;
    width: 270px;
    margin-left: 15px;
  }

  .mobile-filter-select {
    display: none;
  }

  #work-filter {
    margin-bottom: 40px;
  }

  .filter-link {
    color: utils.$colorOrange;
  }

  .work-item {
    figure {
      filter: sepia(100%);
      -webkit-filter: sepia(100%);
      -moz-filter: sepia(100%);
      -o-filter: sepia(100%);
      &:hover {
        filter: blur(15px);
        -webkit-filter: blur(15px);
        -moz-filter: blur(15px);
        -ms-filter: blur(15px);
        -o-filter: blur(15px);
      }
      img {
        -webkit-transition: all 1s ease;
        -moz-transition: all 1s ease;
        transition: all 1s ease;
        display: block;
        height: 100%;
        width: 100%;
      }
    }
    &:hover img {
      -webkit-transform: scale(1.1) translateX(5px);
      -moz-transform: scale(1.1) translateX(5px);
      -ms-transform: scale(1.1) translateX(5px);
      -o-transform: scale(1.1) translateX(5px);
      transform: scale(1.1) translateX(5px);
    }

    &:hover {
      .h-02 {
        visibility: visible;
        color: utils.$colorBlack;
        transition: color 750ms linear;
      }
    }
  }

  .button {
    margin-top: 40px;
  }

  #work-detail {
    display: none;
    background: utils.$colorHighBlue;
    text-align: left;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    height: 100%;
    width: 100%;

    .close-icon {
      cursor: pointer;
      display: block;
      font-family: utils.$fontMain;
      font-weight: 800;
      font-size: 40px;
      -webkit-font-smoothing: antialiased;
      -webkit-text-size-adjust: 100%;
      text-rendering: optimizeLegibility;
      height: 40px;
      width: 40px;
      position: absolute;
      top: 0;
      right: 0;
      color: utils.$colorOrange;
    }

    .inner {
      padding: 70px 0;
    }
  }
}
