#page-work {
  position: relative;
  text-align: center;
  background-color: #454648;
  min-height: 1210px;
  height: auto;
  .grid-box {
    margin: auto;
  }
  .h-01 {
    color: #e3b673;
    margin-bottom: 50px;
  }
  .h-02 {
    color: #e9ece5;
    margin: 5px 0 -25px 0;
  }
  .copy-03,
  .filter-link {
    color: #e3b673;
  }
  .shuffle__sizer {
    display: none;
    width: 270px;
    margin-left: 15px;
  }
  .mobile-filter-select {
    display: none;
  }
  #work-filter {
    margin-bottom: 40px;
  }
  .filter-link {
    color: #e3b673;
  }
  .work-item {
    figure {
      filter: sepia(100%);
      -webkit-filter: sepia(100%);
      -moz-filter: sepia(100%);
      -o-filter: sepia(100%);
      &:hover {
        filter: blur(15px);
        -webkit-filter: blur(15px);
        -moz-filter: blur(15px);
        -ms-filter: blur(15px);
        -o-filter: blur(15px);
      }
      img {
        -webkit-transition: all 1s ease;
        -moz-transition: all 1s ease;
        transition: all 1s ease;
        display: block;
        height: 100%;
        width: 100%;
      }
    }
    &:hover img {
      -webkit-transform: scale(1.1) translateX(5px);
      -moz-transform: scale(1.1) translateX(5px);
      -ms-transform: scale(1.1) translateX(5px);
      -o-transform: scale(1.1) translateX(5px);
      transform: scale(1.1) translateX(5px);
    }
  }
  .button {
    margin-top: 40px;
  }
  #work-detail {
    display: none;
    background: #89bdd3;
    text-align: left;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    height: 100%;
    width: 100%;
    .close-icon {
      cursor: pointer;
      display: block;
      font-family: "Roboto-bold", Arial, Helvetica, sans-serif;
      font-size: 40px;
      -webkit-font-smoothing: antialiased;
      -webkit-text-size-adjust: 100%;
      text-rendering: optimizeLegibility;
      height: 40px;
      width: 40px;
      position: absolute;
      top: 0;
      right: 0;
      color: #e3b673;
    }
    .inner {
      padding: 70px 0;
    }
  }
}
